body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    /*margin: 0;
    /*padding: 0 20px;*/
}
h1 {
    color: #0275d8;
}
.question {
    margin-bottom: 20px;
}
.btn {
    background-color: #5cb85c !important;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover {
    background-color: #4cae4c !important;
}